body{
    font-family: 'Roboto', sans-serif;
    background : #f9f9f4;
    margin: 0;
    width: 100%;
    height: 100%;
}

header {
   text-align : center;
   background-color: #1d1d1d;
   color: white;
   padding-bottom: 30px;
}

section {
    text-align: center;
    margin-top: 50px;
}

h1{
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 0;
    padding-top: 30px;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    width: 400px;
    margin: auto;
}

h3:before {
    content: '« ';
    color: grey;
}

h3 {
    font-size: 1.5em;
    text-transform: uppercase;
}

h3:after {
    content: ' »';
    color: grey;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    padding: 0;
    display: inline;
}

li {
    list-style-type: none;
    display: inline;
    margin: 10px;
}

li:hover {
    font-weight: bold;
}

nav {
    text-align: center;
    background-color: white;
    box-shadow: 0px 3px 1px -1px rgba(0, 0, 0, 0.5);
    font-size: 1.1em;
    padding: 15px;
}

footer {
    text-align: center;
    background-color: #1d1d1d;
    color: white;
    padding: 15px;
}

section > p {
    text-align: justify;
}

/*PROPIETE A METTRE SYSTEMATIQUEMENT*/
* {
    box-sizing: border-box;
}

/*CLASSES*/
.separator {
    width: 40px;
    height: 1px;
    margin: 15px auto;
    display: block;
    background-color: #999999;
}

.contener {
    width: 80%;
    margin: auto;
}

.projet {
    width: 400px;
    margin: 30px;
    display: inline-block;
    background-color: white;
    padding-bottom: 15px;
    border: 0px black solid;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.projet:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: 0.3s;
}

.projet img {
    min-width: 400px;
    height: 266px;
}

.projet .date-project {
    font-size: 0.7em;
}

.projet span {
    display: block;
    text-transform: uppercase;
}

.table {
    width: auto;
    margin: 10px;
    display: inline-block;
    background-color: white;
    padding-bottom: 15px;
    border: 0px black solid;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.italicText {
    font-style: italic;
    font-size: 50%;
}

.picture {
    width: 400px;
    height: 266px;
    overflow: hidden;
    margin-bottom: 15px;
}

.prestations img{
    width: 40%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.center-text {
    text-align: center;
}

.imageAdmin {
    height: 10px;
    width: auto;
}

/*ID*/
#contact {
    border: 1px black solid;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 50px;
}

#logo {
    margin-top: 30px;
    width: 100px;
}

#projets {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#picture-project img, #picture-project video {
    width: 80%;
}

#portraitIsa {
    border-radius: 50%;
    width: 200px;
}

#siret{
    font-size: 0.8em;
}


/* POLICES */
@font-face {
    font-family: 'cursif';
    src: url('../src/Cursif.ttf') format('truetype');
}

/* MEDIA */

@media all and (max-width: 1000px) {
       .projet {width: 100%; margin: 15px auto;}
       .projet img {width: 100%; height: auto; min-width: auto;}
       .projet .picture {width: 100%; height: auto;}
       header h2 {width: 90%;}
}

/*CSS POUR LA GALLERIE*/

#gallery-container{
    padding: 75px 0;
    margin: 0 auto;
    width: auto;
}

#gallery-wrap {
display: flex;
flex-direction: row;
width: 100%;
height: 70vh;
}
  
.item {
flex: 1;
height: 100%;
background-position: center;
background-size: cover;
background-repeat: none;
transition: flex 0.8s ease;
} 
  
.item:hover{
    flex: 7;
}
  
.item-1 { 
background-image: url(../ressources/gallerie/1.jpg);
}
  
.item-2 { 
background-image: url(../ressources/gallerie/2.jpg);
}
  
.item-3 { 
background-image: url(../ressources/gallerie/3.jpg);
}
  
.item-4 { 
background-image: url(../ressources/gallerie/4.jpg);
}
  
.item-5 { 
background-image: url(../ressources/gallerie/5.jpeg);
}

.item-6 { 
background-image: url(../ressources/gallerie/6.jpg);
}
  
.item-7 { 
background-image: url(../ressources/gallerie/7.jpeg);
}
  
.item-8 { 
background-image: url(../ressources/gallerie/8.jpg);
}
  