{% extends 'base.html.twig' %}

{% block body %}

<div class="contener">

<h1>Ajouter une photo</h1>

{{ form_start(form) }}
{{ form_widget(form) }}
<button>Ajouter</button>

{{ form_end(form) }}

</div>



{% endblock %}
