{% extends 'base.html.twig' %}

{% block stylesheets %}
{{  parent() }}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
{% endblock %}

{% block body %}

<div class="container mt-4">

    <h1>Gérer les photos</h1>

    <a href="{{ path('create-image')}}" class="btn btn-primary my-4">Ajouter une photo</a>


    {% for image in images %}
        <div class="card" style="width: 12rem;">
            <img src="{{ vich_uploader_asset(image, 'imageFile') }}" class="card-img-top" alt="...">
            <div class="card-body">
                <a href="{{ path('delete-image', {id: image.id}) }}" class="btn btn-danger">Supprimer</a>
            </div>
        </div>
    {% endfor %}

</div>

{% endblock %}