{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    {{ parent() }}
{% endblock %}

{% block body %}
<div class="container mt-5">

    <div class="d-flex my-3" >    
        <div class="d-flex ms-1">
        {% if is_granted('ROLE_ADMIN') %}
            <a  class="btn btn-primary" href="/user/new" id="newButton"><i class="fa-solid fa-plus"></i> Utilisateur</a>
        {% endif %}
        </div>
    </div>

    {% for user in users %}
        <ul class="list-group">
            {% if user.roles[0] =='ROLE_ADMIN' %}
            <li class="list-group-item list-group-item-primary d-flex justify-content-between align-items-center" id="listGroupA">
            {% else %}
            <li class="list-group-item list-group-item-warning d-flex justify-content-between align-items-center" id="listGroupB">   
            {% endif %}
                <div class="d-flex">
                    <a href="{{'/user/fiche/' ~ user.id }}">{{ user.email }}</a>
                </div>
            </li>
        </ul>
    {% endfor %}

</div>


{% endblock %}
